<div class="col-md-12">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-users font-green-sharp"></i>
				<span class="caption-subject bold uppercase">Pessoas</span>
			</div>
			<div class="actions">
				<a href="<%= new_pessoa_path %>" class="btn btn-circle red-sunglo btn-sm">
					<i class="fa fa-plus"></i> Adicionar
				</a>
			</div>
		</div>
		<div class="portlet-body" style="display: block;">
			<table class="table table-striped table-hover flip-content">
				<thead>
					<tr>
						<th>nome</th>
						<th>cpf</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>José Antônio Gonçalves Viana</td>
						<td>298.056.009-04</td>
						<td></td>
					</tr>
					<tr>
						<td>Mateus Eduardo Gonçalves Viana</td>
						<td>018.689.611-50</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>