<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-user font-red-sunglo"></i>
			<span class="caption-subject font-red-sunglo bold uppercase">Pessoa</span>
			<span class="caption-helper">gestão de pessoas</span>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-2 control-label">Nome</label>
					<div class="col-md-5">
						<input type="text" class="form-control" placeholder="nome completo">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">CPF</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="cpf">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Email</label>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
							</span>
							<input type="email" class="form-control" placeholder="Email Address">
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn blue">Submit</button>
						<button type="button" class="btn primary">Cancel</button>
					</div>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>